# Виртуальное окружение
.venv/
venv/
env/

# Настройки IDE
.idea/
.vscode/
*.iml

# Пароли и настройки
.env

# Данные
data/
*.csv

# Логи
logs/
*.log

# Временные файлы Python
__pycache__/
*.pyc
*.pyo

# Файлы операционной системы
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
*.ipynb
